*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    padding: 3rem 5rem 3rem 2rem;
    place-items: center;
    line-height: 1.5;
    font-family: "DM Sans", sans-serif;
}
#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "div1 div2 div2 div3"
     "div1 div5 div6 div3"
     "div4 div5 div6 div3"
     "div4  div7 div8 div8";
}
.div{
    padding: 40px;
    border-radius: 10px;
}
.create-post{
    background-color:  hsl(31, 66%, 93%);
    grid-area: div1;
    width: 300px;
}
.create-post h1{
    padding-top: 2rem;
    font-size: 35px;
}
.quicker-text{
    color:  hsl(256, 67%, 59%);
}
.image{
    width: 200px;
    margin-top: 1rem;
}
.social-media{
    background-color:  hsl(256, 67%, 59%);
    text-align: center;
    grid-area: div2;
    width: 620px;
    margin-bottom: -8rem;
}
.social-media h1{
    padding-top: 2rem;
    color: white;
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
}
span{
    color:  hsl(39, 100%, 71%);
}
.social-media p{
    color:  hsl(0, 0%, 100%);
    font-size: 20px;
}
.schedule-img{
   margin-right: -9rem;
   width: 480px;
   padding-top: 3rem;
}
.schedule-post{
    background-color:  hsl(254, 88%, 90%);
    grid-area: div3;
    width: 335px;
    overflow: hidden;
    margin-left: -1rem;

}
.schedule-post p{
    font-size: 20px;
    padding-top: 3rem;
}
.AI-content{
    background-color:  hsl(39, 100%, 71%);
    grid-area: div4;
    width: 300px;
}
.AI-img{
    width: 250px;
    padding-top: 4rem;
}
.multiple-accounts{
    background-color: white;
    grid-area: div5;
    margin-top: 8rem;
    width: 300px;
    overflow: hidden;

}
.img{
    width: 350px;
    margin-right: -2rem;

}
.consistent-img{
    margin-bottom: -18rem;
    width: 200px;
    align-content: center;
    
}
.consistent-post{
    background-color:  hsl(39, 100%, 71%);
    grid-area: div6;
    margin-top: 8rem;
    width: 300px;
    color:  hsl(0, 0%, 7%);
    overflow: hidden;
}
.audience-post{
    background-color: white;
    grid-area: div7;
    width: 300px;
}
.audience-img{
    width: 200px;
    padding-top: 3rem;
}
.audience-post h1{
    font-size: 60px;
}
.grow-post{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color:  hsl(256, 67%, 59%);
    grid-area: div8;
    width: 660px;
    color: white;
}
.grow-img{
    width: 230px;
}
.grow-post h1{
    font-size: 40px;
    font-weight: 300;
}
.grow-post p{
    font-size: 20px;
}